@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    background:#91a8bd;
    background:#0b76ef;
    padding-bottom:300px;
    background: rgb(159,185,191);
    background: #0b76ef;
    background: #16242d;
    background: #f3f5f8;
}
body.highlight{}

body,html,div,p,li,span,a,textarea,input{color:#000;font-family: Roboto;}
h1.focused,p.focused,li.focused,span.paper-user.focused,span.focused,a.focused{
    color: transparent !important;
    text-shadow: 0 0 8px #000;
}

.s0 {
    fill: #000;
    /*fill: #7fbafc;*/
}
.s6 { fill: #fe9643; }
.s7 { fill: #8104c9; fill:#7fbafc}
.pisa{ fill:#8104c9}
.play-nice{fill:#fff;}

#play-action,#media-action,#amadeus-action,#pause-action{display:inline-block;width:70px;}
#amadeus-action{color:#ee2d62;color:#000;}
#amadeus-action:focus{top:46px;}
#media-action{left:60px;top:160px;}

#amadeus-svg{
    width:70px;
    transform:scale(1.10);
}
#play-action{width:29px;height:35px;transform: scale(2.1);position:absolute}
#pause-action{width:22px;height:25px;transform: scale(1.0);right:81px;bottom: 47px;position: absolute;}

h1{font-size:43px;font-weight: 900;}
p{font-size:17px;font-weight: 300;}
a{text-decoration: none;color:#000;}

#profile-img{
    right: 40px;
    top: 40px;
    width:62px;
    z-index:1;
    position:absolute;
    border-radius: 62px;
}

.profile-img-background{
    padding:2px;
    background: #F5305B;
    background: linear-gradient(35deg, rgb(253, 171, 106) 20%, rgb(245, 48, 91) 36%, rgb(245, 48, 91) 52%, rgb(129, 4, 201) 71%, rgba(0,137,255,1) 100%);
}
.activity{cursor:hand}
#center-stage-wrapper{
    margin-top:37px;
    margin-left:145px;
    width:450px;
}
#query-lover-wrapper{margin-bottom:30px}
#query-lover{
    color:#fff;
    height:30px;
    padding:22px;
    font-size:23px;
    font-weight: 200;
    width:100%;
    border: solid 1px #16242d;
    border-radius: 45px;
    background: #000;
    background: #f3f5f8;
    background: #000;
    border:solid 1px #000;
}

#query-lover:focus{
    outline: none;
    -webkit-appearance: none;
    -moz-appearance:none;
}
#query-lover::placeholder{
    color:#fff;
}
.button{
    cursor:pointer;
    color:#fff;
    font-size:16px;
    padding:15px 23px;
    line-height: 1.0em;
    display:inline-block;
    background:#0b76ef;
    border:solid 1px #0b76ef;
    text-decoration:none;
    border-radius: 30px;
    font-family:Roboto !important;
    outline:none !important;
    -webkit-appearance: none;
    -moz-appearance:none;
}
.future{background:#000; border:solid 1px #000}
.grey{background:#c4cad5; border:solid 1px #c4cad5}
.purple{background:#fe9643;border:solid 1px #fe9643}
.button:hover{box-shadow: 0px 4px 7px rgba(0,0,0,0.3)}


#music-selection li{list-style:none;font-size:19px;font-weight: 300;margin:7px 0px;cursor:hand;}
#next, #previous{width:25px;height:25px;margin:11px;cursor:pointer;cursor:hand;position:absolute;bottom:1px;}
#next{right:0px;}
#previous{right:39px;}
#next:active, #previous:active{bottom:0px;}
#track-duration-seeker-wrapper{
    height:10px;
    cursor:hand;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    background: #d8fafa;
    background: #d7dbe2;
}
#track-duration-seeker-percentage{
    width:30px;
    height:100%;
    background: #FE9643;
    background: #ee2d62;
    background: #000;
    /*background-color: #364d5d;*/
    display:inline-block;
    transition: left .5s ease-in, top .5s ease-in;
}

.invincible{display:none !important;}

/*****************************************************************************/
/*  sheets.jsp css                                                           */
/*****************************************************************************/

#sheets-wrapper{
    width:80%;
    margin:auto;
    text-align: left;
}

.paper-wrapper{margin-bottom:110px;}

.paper-profile-img{
    width:62px;
    height:62px;
    border-radius: 52px;
    float: left;
}
.paper-user{font-size: 23px; font-weight: 600; width:calc(100% - 81px); margin-top:10px; margin-left:15px; float:left; display: inline-block}
.paper-photo{width:100%;border-radius: 16px;}

.paper-action-wrapper{
    margin-top:39px;
    margin-right:59px;
    vertical-align: bottom;
}
.activity-action{float:right;margin-right:23px;}
.share-icon-svg, .heart-icon-svg{
    width:10px;height:10px;
    margin-top:3px;
    margin-left:10px;
    display:inline-block;
    fill: #fff;
}

.heart-icon-svg{
    width:25px;height:25px;
    margin-top:3px;
    margin-left:10px;
    display:inline-block;
    fill: #fff;
}


.share-icon-svg:active,
.heart-icon-svg:active{
    margin-top:4px;
}
.activity-count{
    font-size:13px;
    font-weight: 300;
    display:inline-block;
    line-height: 1.3em;
}
.pretty-time{font-size:13px;font-weight: 300;display:inline-block;margin-top:8px;}

.clear{clear:both}

#sheets-wrapper{
    transition-duration: 1s;
    transition-property: opacity;
}

textarea{color:#000;font-weight:300;height:200px;font-size:20px;width:100%;padding:10px;border:none;border-radius:0px;resize:none;background: rgba(145, 166, 181, 0.2);}
textarea:focus{outline: none;-webkit-appearance: none;-moz-appearance:none;}
textarea::placeholder{color: #000000;font-weight: 200}


.jkl{font-weight: 900;}

#sheet-expressions{
    width:100%;
    margin:auto;
    text-align: left;
}
.patron-photo{width:130px;border-radius: 23px;margin-top:20px;}
.right-guide{float:right;}
.pretty-time{margin-bottom:10px;}
.rain{background: #7fbafc;border:solid 1px #7fbafc;}
.rain{background: #830DCA;border:solid 1px #830DCA;}
.delete{background: #f22f5e; border:solid 1px #f22f5e;}


.message{padding:10px;border-radius: 30px;border:solid 1px #000; }
.flux-capacitor{display:block;margin:40px 0px 30px;}

#play-action{
    right: 60px;
    bottom: 5px;
    position:absolute;
}
#play-action path{fill: #000}
#play-action:focus{bottom:4px;}
#pause-action{right:72px;bottom:24px;}
#pause-action:focus{bottom:23px;}
#previous,#next{position:fixed;bottom:12px;}
#previous:active,#next:active{bottom:11px;}
#previous{right:107px;}
#next{right:15px;}

#amadeus-action{font-size:53px;}
#delete-button:active{margin-top:1px;}

.profile-action{height:62px;display:block;}


html,body{
    padding:0px;
    margin:0px;
    height:100%;
    min-height: 100% !important;
}










.button,
input[type="button"].button,
input[type="reset"].button,
input[type="submit"].button{
    cursor:pointer;
    text-transform:uppercase;
    color:#fff;
    font-size:13px;
    padding:14px 18px;
    line-height: 1.0em;
    display:inline-block;
    background:#3979E4;
    border:solid 1px #3979E4;
    text-decoration:none;
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    font-family:Roboto !important;
    outline:none !important;
    -webkit-appearance: none;
    -moz-appearance:none;
}

.gigantic{
    font-size:15px !important;
    padding:16px 20px !important;
}

.button:active{
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(179,179,179,0.43);
    -moz-box-shadow: 0px 1px 7px 0px rgba(179,179,179,0.43);
    box-shadow: 0px 1px 7px 0px rgba(179,179,179,0.43);
}

.button:hover{
    color:#fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(179,179,179,0.43) !important;
    -moz-box-shadow: 0px 3px 5px 0px rgba(179,179,179,0.43) !important;
    box-shadow: 0px 3px 5px 0px rgba(179,179,179,0.43) !important;
}


.button.small,
input[type="button"].button.small,
input[type="reset"].button.small,
input[type="submit"].button.small{
    font-size:11px;
    padding:15px 23px;
}

.remove,
.button.remove,
input[type="button"].remove,
input[type="reset"].remove,
input[type="submit"].remove{
    color:#fff;
    background: #FF817A;
    border: solid 1px #FF817A;
}

.yellow,
.button.yellow,
input[type="button"].button.yellow,
input[type="reset"].button.yellow,
input[type="submit"].button.yellow{
    color:#000;
    background:#FEF57A;
    border:solid 1px #FEF57A;
}


.button.sky,
input[type="button"].button.sky,
input[type="reset"].button.sky,
input[type="submit"].button.sky,
input[type="button"].sky{
    color:#000;
    background:#F3F3F7;
    border:solid 1px #F3F3F7;
}


.button.light,
input[type="button"].button.light,
input[type="reset"].button.light,
input[type="submit"].button.light,
input[type="button"].button.light{
    color:#000;
    background:#fff;
    border:solid 1px #FFFFFF;
}


.future,
.button.future,
input[type="button"].button.future,
input[type="reset"].button.future,
input[type="submit"].button.future{
    background:#000;
    border:solid 1px #000;
}

.retro,
.button.retro,
input[type="button"].button.retro,
input[type="reset"].button.retro,
input[type="submit"].button.retro{
    color:#fff;
    background:#3979E4;
    border:solid 1px #3979E4;
}

.button.orange,
input[type="button"].button.orange,
input[type="reset"].button.orange,
input[type="submit"].button.orange{
    color:#000;
    background:#FEF57A;
    border:solid 1px #FEF57A;
}

.green,
.button.green,
input[type="button"].button.green,
input[type="reset"].button.green,
input[type="submit"].button.green{
    color:#fff;
    background:#0E9855;
    border:solid 1px #0E9855;
}

.notify{
    font-size:17px;
    margin-bottom:23px;
    padding:10px 20px;
    border:solid 1px #617078;
    background: transparent;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.tiny{
    font-size:11px;
    font-family:Roboto !important;
}