<ul id="menu">
{{#categories}}
    <li>
        <a href="{{uri}}">{{title}}
            <ul class="menu">
                {{#categories}}


            </ul>
        </a>
    </li>
{{/categories}}
</ul>